# Setup Xresources.
xrdb -merge -I$HOME ~/.Xresources

# Configure keyboard.
xmodmap -e "clear Lock"
xset r rate 200 80

# Configure pointer speed.
xinput --set-prop "USB-HID Keyboard Mouse" "Coordinate Transformation Matrix" 2, 0, 0, 0, 2, 0, 0, 0, 1

# Run PulseAudio system tray.
if command -v pasystray >/dev/null; then
    pasystray &
fi

# Run volume level notifier.
if command -v listenvol >/dev/null 2>&1 && command -v xob >/dev/null 2>&1; then
    listenvol | xob >/dev/null &
fi

# Run compositor.
picom -b

# Show summary.
summary &
